[Unit]
Description=ATTiny UPS Daemon
DefaultDependencies=no
After=sysinit.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/opt/attiny_daemon/attiny_daemon.py
Restart=always
RestartSec=1
User=pi

[Install]
WantedBy=sysinit.target
